.modal-header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-title {
  align-items: center;
  h4{
    width: 100%;
    margin: auto;
  }
}
.producto-image {
  img {
    width: 10rem;
    border: 1px solid gold;
  }
}
