<main class="container-user">
  <div class="title-list-users">
    <h2>Lista de Usuarios</h2>
    <div class="container-btn-registrar">
      <button class="btn btn-primary" (click)="add()">Registrar</button>
    </div>
  </div>
  <div class="list-users">
    <div class="table-responsive-md">
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr class="table-header-user">
            <th>Id</th>
            <th>Usuario</th>
            <th>Correo</th>
            <th>Password</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for(user of users; track $index){
            <tr class="fila-user" (dblclick)="userDetail(user)">
              <td>{{user.id}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.password}}</td>

              <td>{{user.name.firstname}} {{user.name.lastname}}</td>
              <td>{{user.address.city}} | {{user.address.street}} | {{user.address.number}} | {{user.address.zipcode}}</td>
              <td>{{user.phone}}</td>
              <td>
                <button type="button" class="btn btn-success btn-sm" (click)="update(user)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleted(user, $index)">Eliminar</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</main>
