<div class="modal-header">
  <div class="modal-title">{{(accion=='add')? "Nuevo registro":"Actualizar"}}</div>
  <button type="button" class="btn btn-close" (click)="cerrar()"></button>
</div>
<div class="modal-body">
  <form class="form"  [formGroup]="formFruta">
    <div class="form-group">
      <label for="denominacion">denominacion</label>
      <input type="text" class="form-control" formControlName="denominacion" id="denominacion" placeholder="denominacion">
    </div>
    <div class="form-group">
      <label for="precio">precio</label>
      <input type="number" class="form-control" formControlName="precio" id="precio" placeholder="0.0">
    </div>
    <div class="form-group">
      <label for="cantidad">cantidad</label>
      <input type="number" class="form-control" formControlName="cantidad" id="cantidad" placeholder="0">
    </div>
    <div class="form-group">
      <label for="imagen">imagen</label>
      <input type="file" class="form-control" formControlName="imagen" id="imagen">
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="cerrar()">cerrar</button>
  <button type="button" class="btn btn-primary" (click)="save()">guardar</button>
</div>
