
<div class="title-list-product">
  <div class="title-product">
    <h2>Gestión de productos</h2>
    <button class="btn btn-warning btn-sm" (click)="add()" >Agregar {{idcategoria}}</button>
  </div>
  <div>
    <select class="form-select" name="categoria" id="categoria" [(ngModel)]="idcategoria">
      <option value="">Seleccione</option>
      @for( categoria of categorias; track categoria.idcategoria){
        <option [value]="categoria.idcategoria">{{categoria.denominacion_categoria}}</option>
      }
    </select>
  </div>
</div>

<div class="card-container">
  @for(producto of productos ; track $index){
    <div class="card-item" (dblclick)="detailProduct(producto)">
      <div class="card-container-img">
        <img class="card-img" src={{producto.image}} alt="">
      </div>
      <div class="card-info">
        <span [ngClass]="getCategoryClass(producto.category)" class="card-info-category">{{producto.category}}</span>
        <div class="card-info-title">{{producto.title}}</div>
        <div class="card-info-price">S/. {{producto.price}}</div>

      </div>
      <div class="card-buttons">
        <button class="btn btn-outline-danger btn-sm" (click)="deleted(producto, $index)" >borrar</button>
        <button class="btn btn-outline-success btn-sm" (click)="update(producto)" >actualizar</button>
      </div>
    </div>
  }
</div>
