<h2>Gestión de productos</h2>
<button class="btn btn-warning" (click)="add()" >Agregar</button>
<div class="card-container">
  @for(producto of productos ; track $index){
    <div class="card-item" (dblclick)="detailProduct(producto)">
      <div class="card-container-img">
        <img class="card-img" src={{producto.image}} alt="">
      </div>
      <div class="card-info">
        <span [ngClass]="getCategoryClass(producto.category)" class="card-info-category">{{producto.category}}</span>
        <div class="card-info-title">{{producto.title}}</div>
        <div class="card-info-price">S/. {{producto.price}}</div>

      </div>
      <div class="card-buttons">
        <button class="btn btn-outline-danger btn-sm" (click)="deleted(producto, $index)" >borrar</button>
        <button class="btn btn-outline-success btn-sm" (click)="update(producto)" >actualizar</button>
      </div>
    </div>
  }
</div>
